.postlogin-content {
    display: none;
    padding-top: 75px;
    width: 100%;
    height: 100%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
    
    .search {
        width: 100%;
        min-height: 100px;
        overflow: hidden;
        text-align: center; 
    }
        .search-title {
            width: 100%;
            text-align: center;
            font-size: 2vw;
        }

        .search .search-containers {
            width: 100%;
            text-align: center;
        }

            .search .search-containers li {
                display: inline-block;
                width: 24%;
                text-align: center;
                vertical-align: top;
            }

            .search .search-containers li label {
                font-size: 1.2vw;
                text-align: center;
            }

            .search-containers .button-prelogin-invert {

                display: inline-block;
                
                background-color: white;
                color: #b5191c;
                width: 50%;

                padding: 5px;
                margin: 10px;
                border-style: solid;
                border-color: #b5191c;
                border-radius: 2px;
                border-width: 1px;
                -webkit-transition: color .1s;
                transition: color .1s;
                -webkit-transition: background-color .1s;
                transition: background-color .1s;
            }

            .search-containers .button-prelogin-invert:hover {
                background-color: #b5191c;
                color: white;
            }

        .search .new-form {
            text-align: center;
            font-size: 1.2vw;

            display: inline-block;
            
            background-color: white;
            color: #b5191c;

            padding: 5px;
            margin: 10px;
            border-style: solid;
            border-color: #b5191c;
            border-radius: 2px;
            border-width: 1px;
            -webkit-transition: color .1s;
            transition: color .1s;
            -webkit-transition: background-color .1s;
            transition: background-color .1s;
        }

        .search .new-form:hover {
            background-color: #b5191c;
            color: white;
        }


        #successAlert {
            opacity: 0;
            text-align: center;
            width: 50%;
            padding: 2% 25%;
            font-size: 1.5vw;
        }

    .tables {
        display: none;
        height: 100%;
        width: 100%;
    }
        .tables>li {
            display: inline-block;
            vertical-align: top;
        }

        .tables .forms {
            display: inline-block;
            width: 75%;
            height: 85%;

            overflow: auto;

        }

            .forms input {
                border-top: none;
                border-right: none;
                border-left: none;
                border-color: #BDBDBD;
                font-family:"Raleway", "sans-serif";
                font-size: 1vw;
            }

                .forms input[type=date] {
                    margin-top:2%;
                }

            .forms input:focus {
                outline:none;
            }

            .meta-data {
                position:relative;
            }

                .meta-data .patient-info {
                    text-align: center;
                }

                    .meta-data .patient-info li {
                        display: inline-block;
                        width: 100%;
                    }

                    .meta-data .patient-info input {
                        margin-top: 2%;
                        width: 25%;
                    }

                .meta-data input {
                    margin-bottom: 2%;
                    text-align: center;
                }

                .meta-data table {
                    width: 100%;
                }

                    .meta-data table tr {
                        vertical-align: top;
                        text-align: center;
                    }

                    .meta-data table input {
                        width: 80%;
                    }

            .multi-day-form-exercises-info-container {
                text-align: center;
                width: 100%;
                height: 100%;

                background: white;

                display: block;
                white-space: nowrap;
            }

               .multi-day-form-exercises-info-container .single-day-form-exercises-info-container {
                    display: inline-block;
                    width: 31%;
                    margin-right: 5%;

                    padding: 2%;

                    background: rgba(25, 28, 181, .25);
                    border-radius: 15px;
                } 

                    .forms div label {
                        font-size: 1.2vw;
                    }

                    .multi-day-form-exercises-info-container div input {
                        text-align: center;
                    }

                    .pt-info, .protocol-info {
                        margin-top: 3%;
                    }

                    .form-exercises-info-container {
                        text-align: center;
                    }

                        .form-exercises-info-container li {
                            padding-top: 3%;
                        }

                            .form-exercises-info-container .exercises {
                            }

                            .form-exercises-info-container .srw {
                                width: 100%;
                            }

                            .form-exercises-info-container .min {
                                width: 100%;
                            }

                        #HiddenSubmitLogin {
                            display: none;
                        }

                        .form-input {
                            width: 100%;
                        }

                        #SubmitData {
                            padding-top: 40px;
                        }

                            .form-exercises-info-container li label {
                                font-size: 1.2vw;
                                padding-bottom: 1%;
                                text-align: center;
                            }

                                .form-header-info {
                                    width: 100%;
                                }

                                    .form-header-info tr td {
                                    }

                                        .form-header-info tr td label {
                                        }
                                        .form-header-info tr td input {
                                            float: right;
                                            text-align: center;
                                        }

                            .form-exercises-info-container .date-info label {
                                padding-right: 5%;
                            }

                            .form-exercises-info-container .table-container {
                                overflow: auto;
                                width: 100%;
                            }

                                .form-exercises-info-container .cumulative-min-container {
                                    margin-bottom: 2%;
                                }


                            .form-exercises-info-container table {
                                width: 100%;
                                padding-top: 2%;
                                padding-bottom: 2%;
                            }

                                .form-exercises-info-container .column-headers {
                                    width: 33%;
                                    text-align: center;
                                    font-size: 1.0vw;
                                }

                    .pt-info ul {
                        margin-top: 3%;
                    }
                    
                        .pt-info ul li {
                            display: inline-block;
                            width: 30%
                        }

        .tables .settings {
            width: 24%;
            height: 100%;
            text-align: center;
        }

            .settings .settings-title {
                width: 100%;
                font-size: 2vw;
                text-align: center;
            }

            .settings .settings-sub-title {
                width: 100%;
                font-size: 1.7vw;
                text-align: center;
            }

            .settings .setting-button {
                font-size: 1.4vw;

                display: inline-block;

                text-align: center;
                
                background-color: white;
                color: #b5191c;
                width: 50%;

                padding: 5px;
                margin: 10px;
                border-style: solid;
                border-color: #b5191c;
                border-radius: 2px;
                border-width: 1px;
                -webkit-transition: color .1s;
                transition: color .1s;
                -webkit-transition: background-color .1s;
                transition: background-color .1s;
            }

                .settings #CancelDelete, .settings #DeleteAll, .settings #DeleteSelected {
                        display: none;
                }

            .settings .setting-button:hover {
                background-color: #b5191c;
                color: white;
            }

            .copy-forward {
                display: none;
            }

            .next-five, .prev-five {
                display: none;
            }

        

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

#queryResetButton {
    display: none;
    margin-bottom: 0px;
}

#querySubmitButton {
    display: none;
    margin-bottom: 0px;
}

#patient_combobox {
    position: inline;
    z-index: 1;
}

#date_combobox {
    position: inline;
    z-index: 1;
}

.raisedbox {
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
}