 html,body
{
    font-family:"Raleway", "sans-serif";
    font-weight:500;
    -webkit-font-smoothing:antialiased;
    -webkit-user-select: none;
    color:#b5191c;
    height: 100%;
    width: 100%;
}


::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #eee
}
::-webkit-scrollbar-thumb {
    background:#d2d2d2
}​

html {
    overflow-x: hidden;
}

ul, li
{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1 {
    color: white;
    font-size: 1.5vw;
}

.hidden {
    display: none;
}

.button {
    cursor: pointer;
}

.spacer-5 {
    height: 5%;
}

.spacer-10 {
    height: 10%;
}

.spacer-15 {
    height: 15%;
}
 
.spacer-30 {
    height: 30%;
}

.button:hover {
    background-color: white;
    color: #b5191c;
}

.header {
    background-color: #b5191c;
    -webkit-box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.61);
    width: 100%;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    z-index: 2;
}

    .header-container {
        width: 100%;
        display: inline-block;
    }

        .button-prelogin {
            padding: 1%;
            margin: 2%;
            border-style: solid;
            border-color: white;
            border-radius: 2px;
            color: white;
            border-width: 1px;
            -webkit-transition: color .1s;
            transition: color .1s;
            -webkit-transition: background-color .1s;
            transition: background-color .1s;
        }

        .header-container li {
            display: inline-block;
            text-align: center;
            width: 33%;
            height: 100%;
        }

        .header-container-left {
        }

            #logo {
                height: 100%;
                width: 100%;
                color: white;
            }

                #logo h2 {
                    font-size: 1.2vw;
                    margin-top: 5%;
                }

        .header-container-center {

        }

        .header-container-right {
            height: 100%;
        }

            .header-container-right div {
                display: inline;
                height: 100%;
            }

            #UsernameField {
                display: none;
                height: 12pt;
                width: 7vw;
                float: right;
            }
            #PasswordField {
                height: 12pt;
                width: 7vw;
                display: none;
                margin-left: 10px;
                float: right;
            }

            #Cancel {
                display: none;
            }

            #Logout {
                display: none;
            }

            #SubmitLogin {
                display: none;
            }

            #CurrentLogin {

            }


.prelogin-content {
    padding-top: 75px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    
    .landing-page-image {
        margin-top: -8%;
    }

    #button-table {
        background-color: #b5191c;
        color: white;
        width: 100%;
    }

    #delete {
        width: 34%;
    }




